UIElementsSchema/Unity.GraphToolkit.Editor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Unity.GraphToolkit.Editor" elementFormDefault="qualified" targetNamespace="Unity.GraphToolkit.Editor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="StickyNoteType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:VisualElementType">
        <xs:choice />
        <xs:attribute name="binding-path" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StickyNote" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:VisualElement" type="tns:StickyNoteType" />
</xs:schema>