UIElementsSchema/Unity.Multiplayer.PlayMode.Editor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Unity.Multiplayer.PlayMode.Editor" elementFormDefault="qualified" targetNamespace="Unity.Multiplayer.PlayMode.Editor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="LoadingSpinnerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoadingSpinner" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:VisualElement" type="tns:LoadingSpinnerType" />
  <xs:complexType name="PlayersListViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlayersListView" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:VisualElement" type="tns:PlayersListViewType" />
</xs:schema>